img {
    border: solid 3px black;
    padding: 15px 15px;
    margin: 10px 10px;
    border-radius: 15px;
    width: 90%;
}

nav {
    color: darkgray;
}

nav ul {
    display: flex;
    flex-direction: column-reverse;
    justify-content: right;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    background-color: #b4b4b4;
}

nav li {
    font-size: 35px;
    padding: 20px 10px 20px 10px;
    text-decoration: none;
    width: 7%;
}

nav li a {
    padding: 25px 25px;
    margin: 0px 50px;
}

nav a:visited {
    color: #000000;
    text-decoration: none;
}

nav a:link {text-decoration: none;}

nav li a:hover:not(.active) {
    background-color: lightslategray;
}

.active{
	/* background: white; */
    text-transform: uppercase;
	/* text-align: center; */
    background-color: #ffffff;
    margin: 5px;
    font-size: 25px;
}

h1 {
    padding: 50px 0px 30px 0px;
    margin: 0px 50px 0px 50px;
    background-image: url("../images/background_image.jpeg");
    background-size: cover;
    color: white;
    text-align: center;
}

p {
    font-size: 22px;
}

main {
    margin: 0px 50px 0px 50px;
}

main li {
    font-size: 22px;
}

.container {
    position: relative;
    width: 20%;
}

.image {
    /* display: inline; */
    width: 100%;
    height: 100%;
    /* can't figure out why they're acting like block elements */
}

.overlay {
    position: absolute;
    top: .25;
    bottom: 0;
    left: 0;
    right: 5;
    height: 90%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #000000;
    /* can't figure out why it's misaligned with the images */
}

.container:hover .overlay {
    opacity: 0.5;
}

.text_overlay {
    color: #ffffff;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    /* don't know what the following lines are...from w3schools */
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

blockquote {
    font-family: 'Sansita Swashed', cursive;
    font-size: 22px;
}

#contact_footer {
    margin-top: 1250px;
}

#about_footer {
    margin-top: 350px;
}

#contact {
    font-size: 30px;
}

footer ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0px 20px 0px 0px;
    overflow: hidden;
    background-color: #b4b4b4;
}

footer li {
    display: flex;
    font-size: 15px;
    padding: 20px 10px 20px 10px;
    text-decoration: none;
    width: 7%;
}

form {
    margin-top: 100px;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 18px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #358038;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 18px 0px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.grid-container {
    display: grid;
    grid-template-columns: 100%;
}

.grid-container div {
    grid-column: 1 / 2;
    text-align: center;
}

@keyframes image-grow {
    from {width: 20%}
    to {width: 90%;}
}

#image-animation {
    animation-name: image-grow;
    animation-duration: 4s;
    animation-timing-function: ease-in;
}

